include:
  - component: $CI_SERVER_FQDN/library/to-be-continuous/Helm/gitlab-ci-helm@master
    inputs:
      chart-dir: chart
      repos: 'ingress-nginx@https://kubernetes.github.io/ingress-nginx'
      k8s-version: 'v1.31'
      
      publish-on: tag
      publish-strategy: none
      
      deploy-args: upgrade --install --rollback-on-failure --timeout 5m0s
      
      prod-enabled: true
      prod-deploy-strategy: auto
      prod-app-name: ingress-nginx-external
      prod-namespace: provisioners

  - component: $CI_SERVER_FQDN/library/cicd/auto-release/auto-release@main
    inputs:
      auto-rebase: true
      auto-approve: true

      auto-merge: true
      auto-remove-source-branch: true

      auto-tag: false
      auto-tag-pattern: '/^\d+\.\d+\.\d+$/'
      auto-tag-version-major: 0
      auto-tag-version-minor: 4

      auto-release: true

variables:
  CI_DEBUG_TRACE: "false"
  TRACE: "true"
  KUBE_CONTEXT: "infra-gitops/kas-config:agent-group-infra-gitops"
  ADAPTIVE_PIPELINE_DISABLED: "true"


stages:
  - build                                # Нет job
  - test                                 # helm-lint, helm-values-lint-review, helm-values-lint-integration, helm-values-lint-staging, helm-values-lint-production
  - package-build                        # helm-package
  - package-test                         # helm-score-review, helm-score-integration, helm-score-staging, helm-score-production
  - infra                                # Нет job
  - deploy                               # helm-review, helm-integration, helm-staging, helm-production, helm-cleanup-review, helm-cleanup-integration, helm-cleanup-staging
  - acceptance                           # helm-test-review, helm-test-integration, helm-test-staging
  - publish                              # helm-publish
  - infra-prod                           # Нет job
  - production                           # helm-production

  - auto-merge
  - auto-tag
  - auto-release

#.auto-rebase-needs:
#  - job: helm-review
#    optional: true
#
#.auto-approve-needs:
#  - job: helm-review
#    optional: true
#
#.auto-merge-needs:
#  - job: helm-review
#    optional: true
#
#.auto-create-TAG-needs:
#  - job: helm-staging

.helm-deploy-base:
  extends: .helm-base
  tags:
    - helm

.auto-release-needs:
  - job: generate_release_env_file

generate_release_env_file:
  stage: package-build
  image: registry.gitlab.com/gitlab-org/cli:latest
  needs:
    - helm-package
  before_script:
    - !reference [ .install-utility ]
  script:
    - |
      arg_image=$(printf '```bash\noci://%s/%s/charts/%s:%s\n```\n---\n' \
        "$CI_REGISTRY" "$CI_PROJECT_PATH" "$helm_package_name" "$helm_package_version")

      log_info "$arg_image"
      latest_url="[latest]($CI_PROJECT_URL/-/releases/permalink/latest)"
      # Формируем release notes для helm chart
      release_notes_helm=$(jq -n \
        --arg head "Helm cart oci" \
        --arg image "$arg_image" \
        --arg latest "$latest_url" \
        '{head: $head, image: $image, latest: $latest}' | base64 -w0
      )

      {
        echo "release_notes_helm=$release_notes_helm"
      } > release.env

  rules:
    - !reference [ .tagged, only ]
    - when: on_success
  artifacts:
    reports:
      dotenv: release.env